.info {
    width: 100%;
    height: 70px;    
    background-image: url('../../assets/banner.png');
}

.info-bg {
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, rgb(143, 255, 237), rgb(143, 255, 237), rgb(143, 255, 237), rgb(143, 255, 235), rgb(143, 255, 237), rgb(100, 200, 234), rgb(80, 100, 234), rgb(60, 15, 232));
    border-bottom: 3px solid rgb(60, 15, 232);
}

button.infobtn {
    background-color: rgba(255, 227, 194, 0.93);
    border: 1px solid rgb(255, 227, 194);
    color: rgb(60, 15, 232);
    padding: 10px 25px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 0 4px #999;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

button.infobtn:hover {
    background-color: rgb(60, 15, 232);
    color: rgb(255, 227, 194);    
}

button.infobtn:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

