.basket-item {
    border-radius: 15px;
    background-color: rgb(93, 102, 64);
    color: white;
    padding: 3px;
    padding-left: 14px;
    padding-right: 14px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 5px;
    position: relative;
    font-size: x-large;
}

.basket-item::before {
    content: attr(data-tip);     
    font-size: 11px;
    font-weight: bolder;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom: 9999px;
    left: 15%;
    background: black;
    border-radius: 3px;
    color: white;
    padding:0px 7px;
    line-height: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.4s ease-out; 
}
     
.basket-item:hover::before {
    opacity: 1;
    bottom:-25px;
}

.removeFromBasket {
    border-radius: 30px;
    padding: 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: medium;
    position: relative;
    white-space: nowrap;
}

.removeFromBasket:hover {
    background-color: white;
    color: black;
}

.basket-item-incompatible {
    background-color: rgb(255, 39, 31) !important;
}

.removeFromBasketContainer {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 1px;
    top: 0px;
    height: 100%;
    width: 20px;
}

.removeFromBasketTop {
    margin-left: 5px;
    vertical-align: top;
}

.removeFromBasketBottom {
    position: absolute;
    bottom: 0px;
    left: 2px;
}

.choose-item-incompatible {
    background-color: rgb(255, 39, 31) !important;
}

.adjustRemoveFromBasketToRight {
    height: inherit;
    margin-left: 5px;
    display: inline-block;
}