<div class="choose">
    <div class="title"><h2>{{'Choose.title' | translate}}</h2></div>
    <div class="controls">       
        <button class="addLiving" (click)="showModal(modalTypes.PLANT)">{{'Choose.addPlant' | translate}}</button> 
        <button class="addLiving" (click)="showModal(modalTypes.MOLLUSCA)">{{'Choose.addMollusca' | translate}}</button>
        <button class="addLiving" (click)="showModal(modalTypes.FISH)">{{'Choose.addFish' | translate}}</button>
    </div>
    <div class="controls">
        <span>{{'Choose.waterparams' | translate}}&nbsp;</span>
        <label><input type="number" min="0" max="20" [value]="customWater.minPH" (change)="changePH($event.target.value)">pH</label>
        <label><input type="number" min="0" max="20" [value]="customWater.minDH" (change)="changeDH($event.target.value)">dH</label>
        <label><input type="number" min="0" max="40" [value]="customWater.minTemp" (change)="changeTemp($event.target.value)">ºC</label>
        <button class="toggleUseCustomWater" (click)="useCustomWater = !useCustomWater">{{(useCustomWater ? 'Choose.unset' : 'Choose.set') | translate}}</button>        
    </div>
    <div class="controls">
        <label>{{'Choose.search' | translate}}&nbsp;<input class="search" type="text" placeholder="{{'Choose.searchplaceholder' | translate}}" [(ngModel)]="query"></label>
        <label><input class="scientificCheck" type="checkbox" [(ngModel)]="scientific">{{'Choose.scientific' | translate}}</label>
        <label><input type="number" list="tankSize" min="40" max="50000" step="20" value="1000" (change)="changeTank($event.target.value)"><datalist id="tankSize">
            <option>40</option>
            <option>60</option>
            <option>100</option>
            <option>150</option>
            <option>200</option>
            <option>250</option>
            <option>300</option>
            <option>400</option>
            <option>500</option>
            <option>1000</option>
        </datalist>&nbsp;{{'Choose.volume' | translate}}</label>         
    </div>
    <choose-item *ngFor="let living of life | chooseFilter: query : scientific : size : useCustomWater : customWater" [item]="living"></choose-item>
</div>

<div *ngIf="displayModal" id="infoModal" class="modal" (click)="hideModal($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="hideModal($event)">x</span>
        <form id="addLivingForm" (submit)="saveLiving()" novalidate>
            <div class="formSection">
                <label for="modalScientificName">{{'Choose.addModal.scientificName' | translate}}</label>
                <input type="text" id="modalScientificName" name="modalScientificName" [(ngModel)]="modalLiving.scientificName" required>
                <span *ngIf="modalLiving.scientificName.length < 1" class="errorHelp">*</span>
            </div>
            <div class="formSection">
                <label for="modalFinnishName">{{'Choose.addModal.finnishName' | translate}}</label>
                <input type="text" id="modalFinnishName" name="modalFinnishName" [(ngModel)]="modalLiving.name">
            </div>
            <div class="formSection">
                <label for="modalEnglishName">{{'Choose.addModal.englishName' | translate}}</label>
                <input type="text" id="modalEnglishName" name="modalEnglishName" [(ngModel)]="modalLiving.englishName">
            </div>
            <div class="formSection" *ngIf="chosenModalType === modalTypes.FISH">
                <label for="modalSize">{{'Choose.addModal.lengthOfFish' | translate}}</label>
                <input type="number" min="1" id="modalSize" name="modalSize" [(ngModel)]="modalLiving.size" required>
                <span *ngIf="!isNumber(modalLiving.size) || modalLiving.size < 1" class="errorHelp">*</span>
            </div>
            <div class="formSection" *ngIf="chosenModalType !== modalTypes.PLANT">
                <label for="modalTankSize">{{'Choose.addModal.minimumTankSize' | translate}}</label>
                <input type="number" min="1" id="modalTankSize" name="modalTankSize" [(ngModel)]="modalLiving.minimumTankSize" required>
                <span *ngIf="!isNumber(modalLiving.minimumTankSize) || modalLiving.minimumTankSize < 1" class="errorHelp">*</span>
            </div>
            <button type="submit" [disabled]="!canAddFish()" *ngIf="chosenModalType === modalTypes.FISH">{{'Choose.addFish' | translate}}</button>
            <button type="submit" [disabled]="!canAddPlant()" *ngIf="chosenModalType === modalTypes.PLANT">{{'Choose.addPlant' | translate}}</button>
            <button type="submit" [disabled]="!canAddMollusca()" *ngIf="chosenModalType === modalTypes.MOLLUSCA">{{'Choose.addMollusca' | translate}}</button>
        </form>
    </div>
</div>