.choose {
    width: 48%;
    float:  left;
    min-height: 800px;
    padding-top: 5px;
    padding-left: 15px;
    height: 80%;
}

.controls {
    margin-bottom: 5px;
    background-color: rgb(60, 15, 232);
    border-radius: 15px;
    color: rgb(255, 227, 194);
    padding: 5px;
    padding-left: 15px;
    min-height: 20px;
}

input.search {
    width: 200px;
}

input.scientificCheck {
    width: 20px;
}

button.addLiving,
button.toggleUseCustomWater,
button.selectArea {
    background-color: rgb(255, 227, 194);
    border: 1px solid rgb(255, 227, 194);
    color: rgb(60, 15, 232);
    padding: 1px 12px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 0 4px #999;
}

button.addLiving:hover,
button.toggleUseCustomWater:hover,
button.selectArea:hover {
    background-color: rgb(60, 15, 232);
    color: rgb(255, 227, 194);    
}

button.addLiving:active,
button.toggleUseCustomWater:active,
button.selectArea:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

button.selectArea,
button.addLiving {
    float:right;
    margin-right: 5px;
}

.errorHelp {
    color: red;
}

.formSection {
    border: 3px solid rgb(60, 15, 232);
    border-radius: 15px;
    margin-bottom: 3px;
    padding: 2px;
}

.formSection label {
    text-align: right;
    font-size: smaller;
    width: 300px;
}
