body {
    background-color: rgb(143, 255, 237);
    height: 100%;
    overflow-x: hidden;
}

.title {
    width: 100%;
    background: radial-gradient(rgb(60, 15, 232), rgb(90, 150, 234), rgb(143, 255, 237), rgb(143, 255, 237), rgb(143, 255, 237));
    padding: 5px;
    text-align: center;
    color: rgb(255, 227, 194);
}

input {
    width: 60px;
    margin-left: 3px;
}

footer {
    padding-left: 2em;
    text-align: left;
    color: rgb(60, 15, 232);
    font-size: smaller;
    font-weight: 500;
    overflow-y: hidden;
    width: 100%;
}